.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -----*/
/* App */
/*-----*/

@media (max-width: 300px) {
  .body,
  .mt-4,
  .templateColumn,
  .templateRow,
  .columnOne,
  .text-3xl,
  .text-4xl {
    flex: 100%;
    background-color: #f1d536;
  }
}

.templateRow {
  display: flex;
  flex-direction: row;
  height: 1400px;
  background-color: #8a8a8a;
}

.columnOne {
  display: flex;
  width: 20%;
}

.templateColumn {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: #555555;
  width: 100%;
  height: 1400px;
  border-radius: 5px;
  background-color: #f1d536;
}

/* --------*/
/* Sidebar */
/*---------*/

.text-xl {
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 20px;
  padding-right: -20px;
}

.p-4 {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 70px;
}

.logo-tache {
  padding-left: 15px;
}

/* ------- */
/* Header */
/*------- */

.text-white {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.text-gray-300:hover {
  color: blue;
  text-decoration: underline;
}

/* -----*/
/* Home */
/*----- */

.mt-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.text-3xl {
  font-size: 28px;
  text-decoration: underline;
}

/* ----- */
/* About */
/*----- */

.mt-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.text-4xl {
  font-size: 28px;
  text-decoration: underline;
}

/* ------ */
/* Tasks */
/* ----- */

.mt-3 {
  font-size: 28px;
  text-decoration: underline;
}

#supprimer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#popup {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #f20707;
  padding: 20px;
  text-align: center;
}

#buttonannuler,
#buttonsvalider {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-family: Noto Sans, sans-serif;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

#buttonannuler {
  color: #7a5cfa;
}

#buttonannuler:hover {
  background-color: #ececff;
}

#buttonsvalider {
  background-color: #484edf;
  color: #ffffff;
}

#buttonsvalider:hover {
  background-color: #383dbf;
}

#title {
  color: #091133;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  margin-bottom: 20px;
  line-height: 1.5;
}

#text,
#text2 {
  text-align: center;
  font-size: 16px;
  font-family: Noto Sans, sans-serif;
}

#clear {
  color: #7a5cfa;
}

#go {
  color: #ffffff;
}

.modalDeleteHidden {
  visibility: hidden;
}

.modalDeleteVisible {
  visibility: visible;
}

/* --------- */
/* TasksForm */
/* --------- */

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.intitule,
.description,
.date {
  border-radius: 10px;
  width: 500px;
  padding-left: 5px;
}

.button-annuler {
  background-color: #ff0000;
  border-radius: 5px;
  width: 100px;
  color: #ffffff;
}

.button-creation {
  background-color: #800080;
  border-radius: 5px;
  width: 100px;
  color: #ffffff;
}

.button-creation:hover,
.button-annuler:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.done,
.priority {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ------- */
/* TaskRow */
/* ------- */

table {
  width: 50%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

th,
td {
  padding: 12px;
  border: 3px solid #ddd;
}

th,
td {
  background-color: #f2f2f2;
}

.button-modif {
  background-color: #800080;
  border-radius: 5px;
  width: 100px;
  color: #ffffff;
}

.button-suppr {
  background-color: #ff0000;
  border-radius: 5px;
  width: 100px;
  color: #ffffff;
}

.titleErrorHidden,
.dateErrorHidden,
.descriptionErrorHidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.titleErrorVisible,
.dateErrorVisible,
.descriptionErrorVisible {
  visibility: visible;
  color: red;
}
